<div class="home-blog-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="wrap">
          <div class="title-wrap d-xl-flex flex-row-reverse align-items-center justify-content-between">
            <div class="right"> <a href="https://blog.naturesflavors.com" class="blog-link">More from our blog</a>
            </div>
            <div class="left d-flex flex- align-items-start">
              <div class="title-img"><img src="assets/images/blog-icon.svg" alt=""></div>
              <div class="title-info">
                <h3 class="title">Flavorful Bites<span class="blog-badge">Blog</span></h3>
                <div class="sm-title text-uppercase">RECIPES | TIPS AND TRICKS | helpful information</div>
              </div>
            </div>
          </div>
          <div class="slider-wrapper position-relative">
            <ul id="blog-slider" class="ontent-slider">
              <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                <a href="https://blog.naturesflavors.com/teriyaki-smash-burger-tacos-recipe/" class="video-thumb-wrap">
                  <div class="video-thumb mb-10">
                    <img src="assets/images/video-thumb-1.jpg" alt="">
                  </div>
                  <h4>Ice Cream Cone Bath Bombs</h4>
                </a>
              </li>
              <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                <a href="https://blog.naturesflavors.com/pecan-maple-glaze-donut-recipe/" class="video-thumb-wrap">
                  <div class="video-thumb mb-10">
                    <img src="assets/images/video-thumb-1.jpg" alt="">
                  </div>
                  <h4>DIY Watermelon Lip Scrub</h4>
                </a>
              </li>
              <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                <a href="https://blog.naturesflavors.com/teriyaki-smash-burger-tacos-recipe/" class="video-thumb-wrap">
                  <div class="video-thumb mb-10">
                    <img src="assets/images/video-thumb-1.jpg" alt="">
                  </div>
                  <h4>Ice Cream Cone Bath Bombs</h4>
                </a>
              </li>
              <li data-aos="fade-up" data-aos-once="true" data-aos-duration="700">
                <a href="https://blog.naturesflavors.com/pecan-maple-glaze-donut-recipe/" class="video-thumb-wrap">
                  <div class="video-thumb mb-10">
                    <img src="assets/images/video-thumb-1.jpg" alt="">
                  </div>
                  <h4>DIY Watermelon Lip Scrub</h4>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>