<div class="category-mobile-filter phone-visible">
  <div class="d-flex align-items-center">
    <div class="sort-by-title flex-fill sorting-filter sort-by-title-mobile">
      <label>Sort by:</label>
      <% active_klass_ascend_by_name = params[:sort_by].present? && params[:sort_by] == "name-a-z" ? 'active' : '' %>
      <button type="button" class="product-sort-js <%= active_klass_ascend_by_name %>" data-filter-type="assending-filter">A to Z</button>
      <% active_klass_descend_by_name = params[:sort_by].present? && params[:sort_by] == "name-z-a" ? 'active' : '' %>
      <button type="button" class="product-sort-js <%= active_klass_descend_by_name %>" data-filter-type="descending-filter">Z to A</button>
    </div>
  </div>
</div>
