* {
  box-sizing: border-box;
}

.recipe-page-count {
  text-align: center;
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.recipe-pdf {
  font-family: Arial, sans-serif;
  padding: 40px;
  border: 1px solid black;
  border-radius: 40px;
  height: 100vh;
}

.recipe-info-table {
  margin-top: 100px;
}

td.recipe-info {
  padding-left: 50px;
}

.recipe-nested-table-data-icon {
  padding-right: 25px;
}

.recipe-nested-table-data {
  border-left: 1px solid black;
  padding-left: 25px;
}

.instructions-table {
  margin-top: 40px;
}

.recipe-image {
  width: 300px;
  aspect-ratio: 1;
  mix-blend-mode: darken;
}

.info-container {
  margin-top: 200px;
}

.natures-logo {
  max-width: 200px;
  margin: 0 auto;
}

.recipe-name {
  text-align: center;
}

.claim-text {
  text-align: center;
  margin: 50px;
}