<div  class="row row-cols-xl-4 row-cols-lg-4 row-cols-sm-2 no-gutters"  data-hook="homepage_products">
  <% recipes.each_with_index do |recipe, index| %>
    <%   @recipe = recipe %>
    <%= render 'spree/shared/recipe', recipe: recipe, image_class: 'product-component-plp-image', taxon: taxon %>
  <% end %>
</div>
